<footer>
    <hr />
    {{- partial "inject/footer.html" . -}}
    {{- partial "footer_columns.html" . -}}
    <p><small>
        {{ now.Format "2006" }} &copy; {{ .Site.Copyright | markdownify }}
    </small></p>
    <p><small>
        {{ i18n "themeCopyrightNotice" | safeHTML }}
    </small></p>
    <p><small>
        <a href="https://www.flaticon.com/free-icons/cassette-tape" title="cassette tape icons">Cassette tape icons created by mynamepong - Flaticon</a>
    </small></p>
</footer>